html,
body {
    height: 100%; 
    padding: 0;
    margin: 0;
}
.wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.msg {
  text-align: center;
}

.edit-room-msg {
  max-width: 500px;
  min-height: 400px;
  margin: 0 auto;
}