<div class="container">
  <div ng-repeat="room in rooms" ng-click="showRoom(room)">
    <pre>{{room | json}}</pre>
  </div>

  <form ng-submit="addRoom()">
    <input type="text" ng-model="newRoom.name">
    <button class="btn btn-default">Create Room</button>
  </form>
</div>