<div class="wrap" style="background-color: {{room.color}};" ng-dblclick="editMode = !editMode">


  <div ng-if="!editMode">
    <h1 class="msg" style="color: {{room.textcolor}}" ng-bind-html="room.msg | formatMsg"></h1>
  </div>

  <form ng-submit="save()" ng-if="editMode">
    <textarea class="edit-room-msg form-control" ng-model="room.msg"></textarea>
    <br>
    <input type="color" ng-model="room.color">
    <input type="color" ng-model="room.textcolor">
    <button class="btn btn-default">Save</button>
  </form>

</div>